@value mediaQuery from '../../common/size.css';
@value makerGreen, makerLightGrey from '../../common/colors.css';

.editor {
  flex-basis: 50%;
  text-align: center;
  background-color: beige;
  padding: 0.5em 2em;
  border-right: 1px solid makerLightGrey;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}

@media screen and (max-width: mediaQuery) {
  .editor {
    width: 100%;
  }
}
