@value makerGreen, makerWhite, makerBlack from '../../common/colors.css';

.footer {
  width: 100%;
  background-color: makerGreen;
  margin: 0;
  text-align: center;
}

.title {
  color: makerWhite;
}
