@value makerGreen, makerLightPink, makerWhite from '../../common/colors.css';

* {
  box-sizing: border-box;
}

.maker {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: makerWhite;
}

.container {
  width: 100%;
  display: flex;
  flex: 1;
}

@media screen and (max-width: 48rem) {
  .container {
    flex-direction: column;
  }
}
